<nav> 
    <div >
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li ngbNavItem>
                <a ngbNavLink routerLink="" >Home</a>
            </li>
            <li ngbNavItem>
                <a ngbNavLink routerLink="/users/:id">My Profile</a>
            </li>

            <li ngbNavItem>
                <a ngbNavLink routerLink="/login">Login</a>
            </li>
            <li ngbNavItem>
                <a ngbNavLink routerLink="/logout">Logout</a>
            </li>
            <li ngbNavItem>
                <a ngbNavLink routerLink="/register">Register</a>
            </li>
        </ul>
    </div>
</nav>
